@font-face {
  font-family: 'PlaylistCaps';
  src: url('../fonts/PlaylistCaps.otf') format('truetype');
}
@font-face {
  font-family: "PlaylistScript";
  src: url('../fonts/PlaylistScript.otf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  font-family: Helvetica, Futura, Arial, Verdana;
}

.bar {
  color: black
}

.head {
  background-color: black;
  height: 110px
}

.brand-logo {
  /*-webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;*/
}

put-field:email {
  color: green;
}

*/
/* label color */

input:validate {
  color: #000000;
}


/* label focus color */

.input-field input[type=text]:focus+label {
  color: #000000;
}
.banner {
  background-color: rgb(255,0,24)!important;
}
.font_banner {
  margin: 17px 0 0 0;
}
.font_banner b{
  color: #ffffff;
  margin: 10px 0 0 0;
  font-size: 60px;
  font-family: "PlaylistCaps";
}
.video1 video{
  position: fixed;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -100;
     transform: translateX(-50%) translateY(-50%);
}
#btn-go{
  position: absolute;
  bottom: 20px;
  right:20px;

}
.text_rockers h3{
  font-size: 80px;
  font-family: "PlaylistScript";
  position: absolute;
  bottom: 40px;
  right:550px;
  line-height: 70px;
  text-shadow: 0 0 15px #FFF;
}
.encabezado{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.titulo4{
  width: 70%;
  font-family: "PlaylistCaps";
  text-align: center
}
.add{
  width: 30%;
  padding: 45px;
}
.add a{
  align-items: left;
}
.tamaño{
  width: 85%;
  margin: 0 60px;
  padding: 30px;
}
.text_rockers .letra{
  font-family: "PlaylistScript";
}
.text_rockers span{
  color: #ff0000;
  font-family: "PlaylistCaps";
}

/* invalid color */

.input-field input[type=text].data-error {
  border-bottom: 1px solid #FE2E2E;
  -webkit-box-shadow: 0 1px 0 0 #FE2E2E;
  box-shadow: 0 1px 0 0 #FE2E2E;
}

.removepadding .col {
  padding: 0 !important;
}

.container-card {
  width: 90%;
  margin: 20px auto 0px auto;
}

.removepadding .sidemenu .side-nav {
  width: 25%;
}

.removepadding .sidemenu .side-nav .user-view-backgroud {
  background: #212121;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-linear-gradient(left top, #E53935, #212121);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #E53935, #212121);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #E53935, #212121);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #E53935, #212121);
  /* Standard syntax */
  background: linear-gradient(left top, #E53935, #212121);
}

.removepadding .sidemenu .side-nav .user-view-backgroud .img-flotante {
  width: 35%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.removepadding .sidemenu .side-nav .user-view-backgroud .nav-flotante {
  width: 65%;
  padding: 0;
}

.removepadding .sidemenu .side-nav .user-view-backgroud .nav-flotante .nombre {
  margin: 0;
}

.removepadding .sidemenu .side-nav .user-view-backgroud .nav-flotante .correo {
  margin: 0;
}

.removepadding .contenedor-principal .color {
  background: #E53935;
  padding-left: 10px;
}

.removepadding .sidemenu .side-nav .input-field-width {
  width: 90%;
  margin-top: 30px;
}

.removepadding .sidemenu .boton-menu-side {
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 10px;
}

.removepadding .sidemenu .boton-menu-side .color-icon {
  color: #fff;
}

@media screen and (max-width:992px) {
  .removepadding .sidemenu .side-nav {
    width: 40%;
  }
}

@media screen and (max-width:600px) {
  .removepadding .sidemenu .side-nav {
    width: 60%;
  }
  .removepadding .sidemenu .side-nav .user-view-backgroud {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .removepadding .sidemenu .side-nav .user-view-backgroud .img-flotante {
    width: 100%;
  }
  .removepadding .sidemenu .side-nav .user-view-backgroud .nav-flotante {
    width: 100%;
  }
}
