@font-face {
  font-family: "PlaylistCaps";
  src: url('../fonts/PlaylistCaps.otf');
}
@font-face {
  font-family: "PlaylistScript";
  src: url('../fonts/PlaylistScript.otf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  /*font-family: Helvetica, Futura, Arial, Verdana;*/
}

.bar {
  color: black
}

.head {
  background-color: black;
  height: 110px
}

.brand-logo {
  /*-webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;*/
}

put-field:email {
  color: green;
}

*/
/* label color */

input:validate {
  color: #000000;
}


/* label focus color */

.input-field input[type=text]:focus+label {
  color: #000000;
}


/* invalid color */

.input-field input[type=text].data-error {
  border-bottom: 1px solid #FE2E2E;
  box-shadow: 0 1px 0 0 #FE2E2E;
}

.banner {
  background-color: rgb(255,0,24)!important;
}
.font_banner {
  margin: 17px 0 0 0;
}
.font_banner b{
  color: #ffffff;
  margin: 10px 0 0 0;
  font-size: 60px;
  font-family: "PlaylistCaps";
}
.video1 video{
  position: fixed;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -100;
     transform: translateX(-50%) translateY(-50%);
}
#btn-go{
  position: absolute;
  bottom: 20px;
  right:20px;

}
.text_rockers h3{
  font-size: 80px;
  font-family: "PlaylistScript";
  position: absolute;
  bottom: 40px;
  right:550px;
  line-height: 70px;
  text-shadow: 0 0 15px #FFF;
}
.text_rockers .letra{
  font-family: "PlaylistScript";
}
.text_rockers span{
  color: #ff0000;
  font-family: "PlaylistCaps";
}
